/* .App {
  text-align: center;
  background: black;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Nunu{
  display: flex;
  flex-direction: column;
  background: rgb(54, 23, 23);
  height: 100vh;
  transition: all 0.4s ease;   
}

.Wasted{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: rgb(83, 32, 32);
  width: 100%;
  align-items: center;
  justify-content: center;

}
.nav{
  display: flex;
  background: #282c349b;
  margin-top: 0.2px;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  
}

.navtools{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  
}
.navtools .nav-items{
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  background-color: rgba(138, 123, 95, 0.513);
  padding: 10px 12px 10px 12px;
  border-radius: 9px;
}

.navtools .nav-items:hover{
  background: white;
  color:black;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
